



section{
    height: 100vh;
    min-width: 100%;
    letter-spacing: 0.1em;
    padding: 0 100px;
    font-family: 'Playfair Display', serif;
}

section.content.homepage {
    background-image: url('bg-img.jpg');
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end; /* Align content to the right */
    align-items: center; /* Center content vertically */
    padding-right: 100px; /* Add padding to the right */
}

.hero {
    display: inline-block; /* Ensure the hero section does not take full width */
    text-align: center; /* Center text inside hero */
    width: 50%; /* Take up half of the section */
    margin-right: 0; /* Remove any right margin */
    
}

.hero h1 {
    margin-bottom: 30px;
    text-align: center; /* Center the h1 element */
    font-size: 40px;
    font-weight: bolder;
    
}

.hero p{
    font-size: 25px;
    margin-bottom: 30px;
}

section.content.author {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 450px 100px;
    background-color: #f9f9f9;
    
}

section.content.author h1{
    display: none;
}

.about-author {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
}



.profile-image {
    flex: 1;
    max-width: 300px;
    margin-left: 50px;
    margin-top: -50px;
}

.profile-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow to the image */
}

.author-text {
    flex: 2;
    max-width: 700px;
    color: rgb(0, 0, 0); /* Change text color to white smoke */
}

.author-text h2 {
    display: block;
    font-size: 48px; /* Increase font size */
    margin-bottom: 30px;
    color: rgb(0, 0, 0); /* Change text color to white smoke */
    
}

.author-text p {
    font-size: 20px; /* Increase font size */
    line-height: 1.8;
    text-align: justify;
    color: rgb(0, 0, 0); /* Change text color to white smoke */
    margin-bottom: 50px;
}

.author-but {
    display: inline-block;
    background-color: brown; /* Green background */
    color: #eef6ff; /* White text */
    padding: 10px 20px; /* Padding for button size */
    border-radius: 5px;
    letter-spacing: 0.2em;
    font-weight: 250;
    text-decoration: none;
    font-size: large;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}


.author-but:hover {
    background-color: #6e110a;
    padding: 10px 20px;
    font-weight: 250;
    color: whitesmoke;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.image-gallery .image-item {
    flex: 1;
    max-width: 15%; /* Adjust the width of each image */
}

.image-gallery .image-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow to the image */
}

section.content.books {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
    background-image: url('bg-aboutbook.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-book {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
}

.book-text {
    flex: 2;
    max-width: 700px;
}

.book-text h2 {
    font-size: 48px; /* Increase font size */
    margin-bottom: 20px;
    color: whitesmoke; /* Change text color to white smoke */
}

.book-text p {
    font-size: 20px; /* Increase font size */
    line-height: 1.8;
    color: whitesmoke; /* Change text color to white smoke */
    margin-bottom: 20px;
}

.book-mockup {
    flex: 1;
    max-width: 900px; /* Adjust the size of the image */
    margin-left: 50px;
}

.book-mockup img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 1200px) {
    label.logo{
        font-size: 30px;
    }
    nav ul {
        margin-right: 30px;
    }

    nav ul li {
        font-size: 14px;
    }

    nav ul li a {
        font-size: 12px;
    }

    section {
        padding: 0 50px;
    }

    section.content.homepage {
        padding-right: 50px;
    }

    .hero {
        width: 60%;
    }

    .hero h1 {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    nav ul {
        display: none;
    }

    section {
        padding: 0 20px;
    }

    section.content.homepage {
        padding-right: 20px;
    }

    .hero {
        width: 80%;
    }

    .hero h1 {
        font-size: 2.5em;
    }
}




footer {
    width: 100%;
    background-color: #e05721;
    color: white;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 10px 0;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.5rem;
}

footer a:hover {
    color: #3498db;
}

footer .social-icons {
    margin-top: 10px;
}

footer .social-icons a {
    font-size: 2rem;
    transition: color 0.3s ease;
}

footer .social-icons a:hover {
    color: #1da1f2; 
}

footer .social-icons .fa-facebook:hover {
    color: #3b5998; 
}

footer .social-icons .fa-youtube:hover {
    color: #3b20b4; 
}





