body{
    background-image: url('./images/blog.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Blog section styles */
.blog-section  {
    position: relative;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.blog-section h1 {
    font-family: 'Georgia', sans-serif;
    color: rgb(77, 77, 77);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 90px;
    font-size: 76px;
    padding: 20px;
}


.blog-container {
    border-radius: 10px;
    min-width: 70vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    padding: 20px;
    text-align: left;
}

.blog-items {
    max-width: 45vw;
    flex: 1 1 calc(50.333% - 60px); /* 3 columns with gap */
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.blog-container h2{
    text-align: center;
}

.blog-items img{
    min-width: 100%;
    border-radius: 5px;
    max-height: 400px;
}

.blog-items h2 {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    margin-top: 30px;
    font-size: 30px;
    color: #333;
}

.blog-items p{

    font-size: 17px;
    margin: 20px 15px 9px 15px;
    text-align: justify;

}




.blog-items button{
    border: none;
    background-color: none;
    padding: 15px;
    font-weight: bolder;
    font-size: 16px;
    color: rgb(145, 61, 148);
    letter-spacing: 0.2em;
}

.grateful-list li:before {
    content: counter(list-counter) ".";
    counter-increment: list-counter;
    position: absolute;
    left: 0;
    top: 0;
    color: #0078D7;
    font-weight: bold;
}



/* Responsive styles */
@media (max-width: 768px) {
    section{
        min-height: 100vh;
    }

    .blog-section h1{
        font-size: 48px;
    }

    .blog-items p{
        font-size: 14px;
    }
    .blog-items h2{
        font-size: 22px;
    }


}

@media (max-width: 480px) {
    
    .blog-items img{
        min-width: 100%;
        border-radius: 5px;
        max-height: 300px;
    }

    .blog-items {
        max-width: 100%;
        flex: 1 1 100%; /* 1 column on very small screens */
        padding: 10px;
        
    }

    

   
}