.content.book {
    padding: 200px 20px;
    background: #f9f9f9;
    text-align: center;
    min-height: 100vh;
    min-width: 100vw;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.book-image {
    flex: 1;
    max-width: 300px;
}

.book-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-details {
    flex: 2;
    max-width: 600px;
    text-align: left;
}

.book-details h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.book-details p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 30px;
    text-align: justify;
}



.order-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.order-button:hover {
    background-color: #555;
}



/* Responsive styles */
@media (max-width: 768px) {

    .book{
        margin-top: 0;
    }
    .book-container {
        flex-direction: column;
        text-align: center;
    }

    .book-details {
        text-align: center;
    }
}